<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="net.glympz.ProfileManagerSTMR.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="net.glympz.ProfileManagerSTMR.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="net.glympz.ProfileManagerSTMR.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="net.glympz.ProfileManagerSTMR.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
 <applicationSettings>
  <net.glympz.ProfileManagerSTMR.ApplicationSettings>
   <setting name="GameAppID" serializeAs="String">
    <value>675010</value>
   </setting>
   <setting name="SteamRegistryKey32" serializeAs="String">
    <value>HKEY_LOCAL_MACHINE\SOFTWARE\Valve\Steam</value>
   </setting>
   <setting name="SteamRegistryKey64" serializeAs="String">
    <value>HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Valve\Steam</value>
   </setting>
   <setting name="GameSubfolder" serializeAs="String">
    <value>\steamapps\common\Spintires MudRunner</value>
   </setting>
   <setting name="LibraryFoldersConfig" serializeAs="String">
    <value>\steamapps\libraryfolders.vdf</value>
   </setting>
   <setting name="GameAppDataSaveFolder" serializeAs="String">
    <value>\UserSaves</value>
   </setting>
   <setting name="GameAppDataFolderName" serializeAs="String">
    <value>\SpinTires MudRunner</value>
   </setting>
   <setting name="ProfilesSubfolderName" serializeAs="String">
    <value>\ProfileManager</value>
   </setting>
   <setting name="ModSubfolderName" serializeAs="String">
    <value>\Mods</value>
   </setting>
  </net.glympz.ProfileManagerSTMR.ApplicationSettings>
  <net.glympz.ProfileManagerSTMR.Application>
   <setting name="SteamFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="GameAppID" serializeAs="String">
    <value>675010</value>
   </setting>
   <setting name="GameFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="SteamRegistryKey32" serializeAs="String">
    <value>HKEY_LOCAL_MACHINE\SOFTWARE\Valve\Steam</value>
   </setting>
   <setting name="SteamRegistryKey64" serializeAs="String">
    <value>HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Valve\Steam</value>
   </setting>
  </net.glympz.ProfileManagerSTMR.Application>
 </applicationSettings>
 <userSettings>
  <net.glympz.ProfileManagerSTMR.ApplicationSettings>
   <setting name="SteamFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="GameAppDataFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="GameFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="ModFolder" serializeAs="String">
    <value />
   </setting>
  </net.glympz.ProfileManagerSTMR.ApplicationSettings>
  <net.glympz.ProfileManagerSTMR.Application>
   <setting name="GameAppDataFolder" serializeAs="String">
    <value />
   </setting>
  </net.glympz.ProfileManagerSTMR.Application>
 </userSettings>
</configuration>
